{% extends 'base.html.twig' %}


{% block page %}{{title}}{% endblock %}
{% block title %}{{title}}{% endblock %}


{% block body %}
<h2>Person table</h2>


<table>
<tr>
    <th>Id</th>
    <th>Name</th>
    <th>Mail</th>
    <th>Age</th>
    <th>Messages</th>
    <th>delete</th>
    <th>edit</th>
</tr>
{% for item in data %}
<tr>   
    <td>{{item.id}}</td>
    <td>{{item.name}}</td>
    <td>{{item.mail}}</td>
    <td>{{item.age}}</td>
    <td>
        <ul>
            {% for msg in item.messages %}
            <li>{{msg.content}}</li>
            {% endfor %}
        </ul>
    </td>
    <td><a href="{{ path('delete', {id: item.id}) }}">削除ボタン</a></td>
    <td><a href="{{ path('update', {id: item.id}) }}">編集ページ</a></td>
</tr>
{% endfor %}
</table>

<table>
    <tr>
        <th>id</th>
        <th>message</th>
        <th>posted</th>
    </tr>
    {% for message in data02 %}
        <tr>
            <td>{{message.id}}</td>
            <td>{{message.content}}</td>
            <td>{{message.posted.format('Y-m-d')}}</td>
        </tr>
    {% endfor %}  
</table>
{% endblock %}

