{% extends 'base.html.twig' %}


{% block page %}{{title}}{% endblock %}
{% block title %}{{title}}{% endblock %}


{% block body %}
<h2>{{message}}</h2>

{{ form_start(form) }}

{{ form_label(form.person) }}
{{ form_widget(form.person) }}

{{ form_label(form.content) }}
{{ form_widget(form.content) }}
{{ form_end(form, {'render_rest': false}) }}

{% endblock %}

